In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

In [3]:
import pandas as pd
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = pd.DataFrame(iris.target)
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]

In [8]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(10,), 
                      max_iter=5000, 
                      activation='logistic', 
                      solver='sgd', # sgd stands for stocastic gradiant descent algorithm
                      learning_rate_init=0.01)

In [9]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, y, cv = 10)
scores

array([1.        , 1.        , 1.        , 0.93333333, 0.86666667,
       1.        , 0.93333333, 1.        , 1.        , 1.        ])

In [10]:
print("Iteration\tAccuracy")
for idx, score in enumerate(scores):
    print('%d\t\t%0.2f'%(idx, score))

Iteration	Accuracy
0		1.00
1		1.00
2		1.00
3		0.93
4		0.87
5		1.00
6		0.93
7		1.00
8		1.00
9		1.00

In [13]:
print('Average Accuracy: ', scores.mean())
print('Standard Deviation of Accuracy: ', scores.std())

Average Accuracy:  0.9733333333333334
Standard Deviation of Accuracy:  0.04422166387140532